@import "../../styles/config";

.roomSettings {
    padding: 10px;

    .regularField {
        @include RegularField();
    }

    .radioButtons {
        margin: 10px 0 0 0;
        width: 100%;
        display: flex;
    }

    .photo {
        @include RegularBrowsedImage();
    }

    .users {
        margin-top: 20px;
        overflow-y: scroll;
        height: 300px;
        h1, h2, h3, h4, h5 {
            margin: 0;
            margin-top: 10px;
        }
    }
}