@import "../../styles/config";

.userSettingsPassordModal {
   margin: 10px;
   
   h5{
       margin:0;
       color: $green;
       font-size: 16px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-bottom: 20px;
   }

   .buttons {
       display: flex;
       & > * {
        font-size: 18px;
       }
       .submitButton {
        margin-left: 20px;
      }
      .submitButtonDisabled {
        background-color: gray;
        cursor: not-allowed;
        margin-left: 10px;
      }
   }
}
.triggerButton {
    margin-top: 10px;
    font-size: 20px;
    width: 400px;
}