@import "../../styles/config";

.roomRequestNode {
    margin: 6px;
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 8px;
    &:hover {
        background-color: lighten($color: $secondaryColor, $amount: 10);
    }

    .info {
        width: 200px;
    }

    .buttons {
        margin-left: 10px;
        display: flex;
        & > * {
            margin-right: 5px;
        }
    }
}