@import "../../styles/config";

.messageNode {
    color: $textColor;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    .dayNote {
        width: 100%;
        text-align: center;
        color: gray;
        font-size: 13px;
    }

    .creator {
        font-size: 14px;
        color: darken($color: $textColor, $amount: 30);
    }

    .actualMessage {
        padding: 6px 10px;
        border-radius: 8px;
        width: fit-content;
    }
    .media{
        display: flex;
        justify-content: flex-end;
        border-radius: 8px;
        overflow: hidden;
        margin-top: 2px;
        img {
            border-radius: 8px;
        }
    }
}