@import "../../styles/config";

.chat {
  .chatInfo {
    background-color: $secondaryColor;
    border-radius: 8px 8px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    .imageOrIcon {
      width: 60px;
      height: 60px;
      @media screen and (max-width: $xl) {
        width: 56px;
        height: 56px;
      }
      border: 1px solid $alternativeColor;
      padding: 1px;
      border-radius: 50%;
      overflow: hidden;
      font-size: 44px;

      .imageContainer {
        width: 60px;
        height: 60px;
        @media screen and (max-width: $xl) {
          width: 56px;
          height: 56px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.1s ease-in-out;
      }

      img {
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .chatHeaders {
        margin-left: 10px;
      p {
        margin: 0;
      }
      .chatName {
        font-size: 22px;
        font-weight: bold;
      }
      .chatDescription {
        font-size: 16px;
      }
    }
  }

  .chatMessages {
    margin: 10px 0;
    padding: 10px;
    background-color: $secondaryColor;
  }

  .chatForm {
    padding: 10px;
    background-color: $secondaryColor;
    border-radius: 0 0 8px 8px;

    .chatFormFields {
      display: flex;
      align-items: center;
      .actionButton {
          font-size: 20px;
          width: 46px;
          height: 46px;
          border-radius: 50%;
          margin-left: 5px;
          background-color: lighten($color: $mainColor, $amount: 10);
      }

      .fileInput {
        display: none;
      }
    }
  }
}
