@import "../../styles/config";

.chatRoomShortcut {
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px $alternativeColor;
        .imageContainer{
            transform: scale(1.2);
        }
      }

    .imageOrIcon {
        width: 60px;
        height: 60px;
        border: 1px solid $alternativeColor;
        padding: 1px;
        border-radius: 50%;
        overflow: hidden;
        font-size: 44px;

        .imageContainer {
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.1s ease-in-out;
        }

        img{
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .info {
        color: $textColor;
        margin-left: 10px;
        .chatName{ 
            font-weight: bold;
        }
        p{
            margin: 0;
        }
    }
}