@import "../../styles/config";

.buttonFill {
  @include buttonDefaults();
  border: none;
  background-color: $alternativeColor;
  &:hover {
    background-color: darken($color: $alternativeColor, $amount: 10);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
.buttonOutline {
  @include buttonDefaults();
  border: 2px solid $alternativeColor;
  background-color: transparent;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px $alternativeColor;
  }
}

@keyframes roll {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
