@import "../../styles/config";

.chatFormFields {
    position: relative;

    .inputs {
      display: flex;
      align-items: center;
    }
    .actionButton {
      font-size: 20px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      margin-left: 5px;
      background-color: lighten($color: $mainColor, $amount: 10);
    }

    .actionButtonActive {
      font-size: 20px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      margin-left: 5px;
      background-color: $green;
    }

    .sendButton {
      font-size: 20px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      margin-left: 5px;
      color: $textColor !important;
    }

    .sendButtonDisabled {
      font-size: 20px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      margin-left: 5px;
      background-color: gray !important;
      cursor: not-allowed !important;
    }

    .picker {
      position: absolute;
      bottom: 80px;
      right: 0;

      aside {
        background-color: $secondaryColor;
        border: 2px solid $alternativeColor;
        box-shadow: 0 0 20px $alternativeColor;
        input {
          background-color: $secondaryColor !important;
          border: 2px solid $alternativeColor;
          color: $textColor;
        }
        ul {
          &::before {
            background-color: $secondaryColor;
          }
        }
      }
    }

    .fileInput {
      display: none;
    }
  }