@import "../../styles/config";

.iconButtonFill {
  @include buttonDefaults();
  border: none;
  background-color: $alternativeColor;
}

.iconButtonOutline {
  @include buttonDefaults();
  border: 2px solid $alternativeColor;
  background-color: transparent;
}
