@import "../../styles/config";

.settingsSection {
    display: none;
    @media screen and (min-width: $xl){
        display: block;
    }
    width: 30%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $secondaryColor;
    padding: 10px;
    overflow-y: scroll;

    h1{
        margin: 4px;
        text-align: center;
        font-size: 20px;
    }

    .users {
        margin-top: 20px;
        height: 300px;
        h1, h2, h3, h4, h5 {
            margin: 0;
            margin-top: 16px;
        }
        .usersList{
            display: flex;
            flex-direction: column-reverse;
        }
    }
}