@import "../../styles/config";

.userSettingsContent {
  .userInfo {
    width: 100%;
    background-color: $secondaryColor;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    display: flex;

    .imageOrIcon {
      width: 200px;
      height: 200px;
      

      .imageContainer {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid $alternativeColor;
        font-size: 120px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
          border-radius: 50%;
          object-fit: cover;
        }

        &:hover {
          cursor: pointer;
          .avatarHover{
            display: flex;
          }
        }
        .avatarHover{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 40px;
          background-color: rgba(0,0,0, 0.2);
          display: none;
        }

        .fileInput {
          display: none;
        }
      }
    }

    .userHeaders {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 20px;
      h3 {
        margin: 0;
        span {
          font-weight: 300;
          color: gray;
        }
      }
    }
  }

  .editSection {
    margin-top: 10px;
    background-color: $secondaryColor;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4{
      margin:0;
      color: $green;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
  }
  }
}
