@import "../../styles/config";

.roomRequests {
    margin-right: 10px;
    position: relative;

    .requestsContainer {
        position: absolute;
        right: 0;
        padding: 10px;
        background-color: $secondaryColor;
        border: 2px solid $alternativeColor;
        border-radius: 8px;
        box-shadow: 0 0 10px $alternativeColor;
    }
    .empty {
        width: 300px;
        text-align: center;
    }

    .open {
        background-color: $green;
    }
    .notification {
        position: absolute;
        bottom: -5px;
        right: -5px;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}