@import "../../styles/config";

.userSettingsPassordModal {
   margin: 10px;

   .buttons {
       display: flex;
       & > * {
        font-size: 18px;
       }
       .submitButton {
        margin-left: 20px;
      }
      .submitButtonDisabled {
        background-color: gray;
        cursor: not-allowed;
        margin-left: 10px;
      }
   }
}
.triggerButton {
    margin-top: 10px;
    font-size: 20px;
    width: 400px;
}